PORT=5000
JWT_SECRET=change-this-to-a-long-random-string
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb+srv://esplanadedirectory_db_user:dZBH3mwhIKij1fcX@cluster0.dyqkqg0.mongodb.net/bed_institute
